*{
	margin: 0;
	padding: 0;
}

/*-------------------------
	General Styles
--------------------------*/

body{
	font:14px/1.3 'Open Sans Condensed', sans-serif;
	background:url('../img/bg.jpg') no-repeat #e1f0f6;
	width: 100%;
    height: 100%;
}

a, a:visited {
	outline:none;
	color:#1c4f64;
}

a:hover{
	text-decoration:none;
}

section, footer, header{
	display: block;
}


/*----------------------------
	The Header
-----------------------------*/

header h1{
	text-align:center;
	font: normal 52px 'Playball', cursive;
	color:#518191;
	padding-top:10px;
	text-shadow:1px 1px 1px rgba(0,0,0,0.1);
}

header p {
	text-align: center;
	font: normal 1.5em 'Open Sans Condensed', sans-serif;
	color: #518191;
}


/*----------------------------
	The Cloud Background
-----------------------------*/


#clouds{
	background:url('../img/cloud1.png') no-repeat;
	height: 145px;
	left: 50%;
	position: absolute;
	top: 250px;
	margin-left: -542px;
	width: 222px;
	z-index: -1;
}

#clouds:before{
	content:'';
	background:url('../img/cloud2.png') no-repeat;
	height: 102px;
	right: -710px;
	position: absolute;
	top: -125px;
	width: 156px;
}

#clouds:after{
	content:'';
	background:url('../img/cloud3.png') no-repeat;
	height: 74px;
	right: -750px;
	position: absolute;
	top: 325px;
	width: 114px;
}


/*----------------------------
	The Weather Div
-----------------------------*/


#weather{
	position:relative;
	top: 1px;
	width:100%;
	height:100%;
	margin: auto auto;
	overflow: hidden;
}

#weather.error:before{
	display:none;
}

#weather.error{
	text-align:center;
	font-size: 20px;
}


#weather.loaded #scroller,
#weather.loaded .arrow{
	display:block
}

#weather.loaded:before{
	display:none;
}

#weather.loaded{
	border-radius: none;
	background:url('../img/weather_bg.jpg') no-repeat;
	box-shadow:0 0 0 rgba(0,0,0,0.15);
}

#weather.first a.previous,
#weather.last a.next{
	display:none;
}


/*----------------------------
	The Scroller
-----------------------------*/


#scroller{
	position:absolute;
	list-style:none;
	width:100%;
	height: 336px;
	white-space:nowrap;
	top:0;
	left:0;
	overflow: hidden;
}

#scroller li{
	position:relative;
	width:100%;
	height:100%;
	display:inline-block;
	text-align:center;
}

#scroller li img{
	display:block;
	margin: 35px auto 0;
}

#scroller li .day{
	color:#dcf0f6;
	font-size:15px;
	padding-top: 20px;
	text-shadow:1px 1px 0 rgba(0,0,0,0.15);
}

#scroller li .day b{
	font-weight:normal;
	color:#0f3642;
}

#scroller li .cond{
	/*bottom: -52px;*/
	color: #424242;
	font-size: 24px;
	/*position: relative;*/
	top: -200px;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
	width: 100%;
}

#scroller li .cond b{
	text-transform:uppercase;
}

/*------------------------------
	The Next/Previous arrows
-------------------------------*/


.arrow{
	background:url('../img/arrows.png') no-repeat;
	width:34px;
	height:45px;
	position:absolute;
	top:50%;
	margin-top:-45px;
	opacity:0.6;
	overflow:hidden;
	text-indent:-99999px;
}

.arrow:hover{
	opacity:1;
}

.arrow.previous{
	left:20px;
}

.arrow.next{
	background-position:top right;
	right:20px;
}


/*----------------------------
	The Location Div
-----------------------------*/


p.location{
	font-weight:bold;
	font-size:28px;
	color:#296c81;
	text-align:center;
	position: relative;
	top: -60px;
	margin-bottom:80px;
}

p.location b{
	color:#296c81;
}

#map {
    display: block;
    width: 50%;
    height: 500px;
    border: 5px solid white; 
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    padding: 15px;
    background: rgba(255,255,255,0.5);
    margin: 0 0 10px 0;
    float: right;
}

input[type=button]{
	border-radius: 20px;
	border: 5px solid white; 
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    padding: 15px;
    background: lightgreen;
    margin: 0 0 10px 20px;
   
}

#panel {
	position: relative;
    top: 5px;
    left: 50%;
    margin-left: -180px;
    padding: 5px;
}

#panel #address {
	width: 250px;
	border: 5px solid white; 
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    padding: 15px;
    background: rgba(255,255,255,0.5);
    margin: 0 0 10px 0;
}

#left {
	border: 5px solid white; 
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1);
    padding: 15px;
    background: rgba(255,255,255,0.5);
    margin: 0 0 10px 0;
    float: left;
    position: relative;
    top: 1px;
    width: 500px;
    height: 500px;
}

footer {
  font-size: 1.5em;
  text-align: center;
  clear: both;
  padding-top: 50px;
  color: #518191;
  width: 100%;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
}

#describe {
	color: white;
	position: relative;
	top: -590px;
	left: 100px;
	font-weight: bold;
}

.slide.ng-hide-add,
.slide.ng-hide-remove {
  webkit-transition: 1450ms cubic-bezier(0.420, 0.000, 1.000, 1.000) all;
    -moz-transition: 1450ms cubic-bezier(0.420, 0.000, 1.000, 1.000) all;
    -ms-transition: 1450ms cubic-bezier(0.420, 0.000, 1.000, 1.000) all;
    -o-transition: 1450ms cubic-bezier(0.420, 0.000, 1.000, 1.000) all;
    transition: 1450ms cubic-bezier(0.420, 0.000, 1.000, 1.000) all;
  display: block!important;
}
.slide.ng-hide-add.ng-hide-add-active,
.slide.ng-hide-remove {
  opacity: 0;
}
.slide.ng-hide-add,
.slide.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
}

#load {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    line-height: 200px;
    height: 200px;
    margin-left: -150px;
    margin-top: -100px;
    background-color: rgba(0,0,0,0.5);
    text-align: center;
    border-radius: 5px;
    z-index: 10;
}
